# Robomind Academy

Robomind Academy was created to teach (young) persons Computational Thinking. But hand-in-hand with
with this primary goal we as teachers learn how these persons learn Computatinal Thinking. This knowledge allows us to to imporve our methods of teaching and the circle is closed.

Robomind Academy collects data about the its users and stores this for a short period of time. This data is used in the normal operation of the teaching process but an anonymised version of this data is stored for later analysis and research.The anonymised data is stored for a longer period of time and includes things like the number of runs per person per Challenge and when they were run, the Solution in each run used and the performance of the final Solutions.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

dataset = pd.read_csv("person_results.gz")

dataset.head()

                   storyline        person  cumtime  count
0  Basis_1/Getting started/1  IPupil000126     74.0      1
1  Basis_1/Getting started/1  IPupil000127    183.0      1
2  Basis_1/Getting started/1  IPupil000128    124.0      1
3  Basis_1/Getting started/1  IPupil000129    147.0      3
4  Basis_1/Getting started/1  IPupil000130     56.0      3

In [4]:
weird1 = dataset['cumtime'] < 0
weird2 = dataset['count'] < 0
weirdrows = dataset[ weird1 | weird2]
print(weirdrows)

Empty DataFrame
Columns: [storyline, person, cumtime, count]
Index: []