# Robomind Academy

The Academy has been used for four years now. Time to show some stats.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

dataset = pd.read_csv("data/stats_weekofyear.gz")

   year  weekofyear   all   ano  ident  inclass  teacher
0  2015          53   169   143     19        7        0
1  2016           1  2483  1897    455      124        7
2  2016           2  2901  1758    793      333       17
3  2016           3  2204  1558    463      167       16
4  2016           4  2551  1726    421      379       25

And now to turn this raw data into a  bar chart

In [11]:
dataset.loc[dataset['year'] == 2018].head()

dataset['year'].unique()

array([2015, 2016, 2017, 2018, 2019])

In [ ]:
import os
os.system("jupyter nbconvert --to pdf Basis1.ipynb")